<section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          What Says Our Customers
        </h2>
      </div>
    </div>
    <div class="client_container " *ngFor="let customer of customerList">
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </p>
                  <p>
                    {{customer.custReview}}
                  </p>
                </div>
                <div class="client-id">
                  <div class="img-box img-customer">
                    <img src="{{customer.custImg}}" alt="">
                    <!-- <img src="./../assets/images/client.jpg" alt=""> -->
                  </div>
                  <div class="name">
                    <h5>
                      {{customer.custName}}
                    </h5>
                    <h6>
                      Madhuri Stationaries, Morshi.
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </p>
                  <p>
                    This book was pretty helpful in giving me ideas to write in the SAT.
However, the length of the examples are not consistent. Some are detailed while others are rather short
One person found this helpful
                  </p>
                </div>
                <div class="client-id">
                  <div class="img-box">
                    <img src="./../assets/images/client.jpg" alt="">
                  </div>
                  <div class="name">
                    <h5>
                      Ankush Manjare
                    </h5>
                    <h6>
                      Manjare Stationaries, Warud.
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="box">
                <div class="detail-box">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </p>
                  <p>
                    This book was pretty helpful in giving me ideas to write in the SAT.
However, the length of the examples are not consistent. Some are detailed while others are rather short
One person found this helpful
                  </p>
                </div>
                <div class="client-id">
                  <div class="img-box">
                    <img src="./../assets/images/client.jpg" alt="">
                  </div>
                  <div class="name">
                    <h5>
                      Ankush Manjare
                    </h5>
                    <h6>
                      Manjare Stationaries, Warud.
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <span>
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>